<h1>*  About Unicourt's  *</h1>
<h2 class="info">Unicourt's Furnishings is an online store for those who like to live outside of the box.
  Our items range from elegant to funky, and all are magical.</h2>
