
<div class="container" id="about_info">
  <h1>about</br> UNICOURT'S</h1>
  <h2 class="info">Unicourt's Furnishings is an online store for those who like to live outside of the box.
  Our items range from elegant to funky, and all are magical.</h2>
  <h3><%=link_to "Products", products_path%></h3>
</div><!-- about_info -->
