
<div class="container" id="contact_page">
  <h1>Contact Court</h1>
  <h2 class="info">reach me via unicourtfurnishings@gmail.com</h2>
  <h3>Looking forward to hearing from you!</h3>
</div><!--contact_page-->
