
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top" style="color: #ff3399; font-size: 3em; font-family: Verdana; border-style: solid; border-color: black;">
                                    UNICOURT'S </br>FURNISHINGS
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="center" valign="top" style="font-size: 1.5em; font-family: Verdana;">
                                  Hi there, </br>
                                  Thanks so much for your interest in our store!
                                  Please visit us at <a href="https://unicourts-magic.herokuapp.com/">Unicourt's</a> to view excellent products like these: </br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="center" valign="top" style="font-size: 1.5em; font-family: Verdana;">
                                  <img src="https://d3tg3crwp9yobd.cloudfront.net/cdn/477700/media/catalog/product/cache/1/small_image/672x688/9df78eab33525d08d6e5fb8d27136e95/t/o/tov-l6127-1.jpg">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                            <tr>
                                <td align="center" valign="top" style="font-size: 1em; font-family: Verdana;">
                                    Thanks for checking us out!  Looking forward to hearing from you soon.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
