// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Cagliostro, sans-serif;
  color: #ff3399;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  color: #ff3399;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  color: white;
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #ff3399;
  padding: 14px;
}
// <style>
// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: red;
//     color: white;
//     text-align: center;
// }
// </style>
//
// <div class="footer">
//   <p>Footer</p>
// </div>
