// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,
footer,
nav {
  font-family: 'Muli', arial, helvetica, sans-serif;
  margin-right: 2%;
  margin-left: 2%;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

// start carousel

.carousel-caption {
	font-size: 2em;
  top: 50%;
  text-shadow: 0.125em 0.125em 0.25em #000000;
}

.item img {
  width: 100%;
  object-fit: contain;
}

// end carousel

#welcome {
  display: block;
  padding: 0 30px;
  border-style: solid;
}

.container {
  display: block;
  margin-top: 20%;
  padding: 0 50px;
  border-style: solid;
  text-align: center;
}

h1 {
  color: #ff3399;
  text-align: center;
}

h2, h3, {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 1.5em;
}

.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#products_header {
  border-style: solid;
  border-color: black;
  margin-bottom: 20px;
  margin-top: 40px;
}


// navbar
.navbar {
  text-transform: uppercase;
}


//footer

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #bbbbbb;
  padding: 14px;
}
