// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,
footer,
nav {
  font-family: 'Muli', arial, helvetica, sans-serif;
  margin-right: 2%;
  margin-left: 2%;
}

@media screen and (min-width:50px) and (max-width:767px) {
    body {
        margin-top:50px;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top:100px;
    }
}
@media screen and (min-width:992px) and (max-width:2000px) {
    body {
        margin-top:50px;
    }
}

// start carousel

.carousel-caption {
	font-size: 2em;
  top: 50%;
  text-shadow: 0.125em 0.125em 0.25em #000000;
}

.item img {
  width: 100%;
  object-fit: contain;
}

// end carousel

#welcome {
  display: block;
  padding: 0 30px;
  margin-top: 40px;
  border-style: solid;
}

.container {
  display: block;
  margin-top: 20%;
  padding: 0 50px;
  border-style: solid;
  text-align: center;
  margin-bottom: 20%;
}

h1 {
  color: #ff3399;
  text-align: center;
}

h2, h3, {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#products_header {
  border-style: solid;
  border-color: black;
  margin-bottom: 40px;
  margin-top: 60px;
}


// navbar
.navbar {
  text-transform: uppercase;
}


//footer

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #bbbbbb;
  padding: 14px;
}

//contact form

.form {
  text-align: left;
}

#contact_page{
  word-wrap: normal;
}

.submit {
  float: left;
  margin-bottom: 20px;
  border-radius: 5px;
  // padding: 5px;
}

.thanks {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5em;
  border-style: solid;
  border-color: black;
}
