// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


// new and edit user forms

#user_first_name {
  margin-bottom: 20px;
  border-radius: 5px;
}

#user_last_name {
  margin-bottom: 30px;
  border-radius: 5px;
}

#new_user_button {
  border-radius: 5px;
  border-width: medium thin thin medium;
  margin-top: 30px;
  margin-bottom: 30px;
}
