<div class="product-reviews">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @comments %>
  </div>
  <%= will_paginate @comments, :container => false %>
</div>
